//Styles

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$barHeight: 48px;
$white: #fff;
$lightColor: #ccc;
$medColor: #777;
$darkColor: #333;
$blue: #08c;
$darkBlue: #004f76;

$gutter320: 5%;
$gutter720: 10%;

//TODO: CSS reset (check all other browsers)

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100%;
  background: #eee;
}

header {
  background-color: $white;
  height: $barHeight;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid $lightColor;

  h1 {
    color: $darkColor;
    display: inline-block;
    font-size: 1.3rem;
    line-height: $barHeight;

    @media(min-width: 720px){
      font-size: 1.5rem;
    }
  }
  #menu{
    display: none;
    background-color: $white;
    position: fixed;
    text-align: right;
    top: $barHeight + 1px;
    right: 0px;
    line-height: 2rem;
    padding: 10px $gutter320 20px;
    @media(min-width: 720px){
      margin-right: $gutter720 - $gutter320;
    }

    ul {
      display: inline-block;
      float: right;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      li {
        a {
          color: $darkColor;
          &:hover{
            color:$medColor;
          }
        }
      }
    }
  }
  #hamburger{
    float: right;
    margin-top: 14px;
  }
}

footer {
  position: fixed;
  background-color: $darkColor;
  height: $barHeight;
  bottom: 0px;
  z-index: 9;
  width: 100%;

  p {
    line-height: 48px;
    text-align: center;
    color: $lightColor;
    font-size: 0.875rem;
  }
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0.75rem 0;
}

a {
  color: $blue;
  text-decoration: none;
  margin: 0;
  transition: all 0.2s ease;
  &:hover {
    color: $darkBlue;
  }
}

p {
  margin: 0;
}

#addgame,
#join {
  margin-top: 15px;
  font-size: 1rem;
}

input {
  &[type="submit"] {
    background-color: $blue;
    border: none;
    border-radius: 1px;
    padding: 8px 15px;
    color: $white;
    transition: all 0.2s ease;

    &:hover {
      background-color: $darkBlue;
      color: $lightColor;
    }
  }
}

.wrap {
  width: 100%-(2*$gutter320);
  margin: 0 auto;
  @media(min-width: 720px){
    width: 100%-(2*$gutter720);
  }
}

#background {
  background-image: url("/PickupGame/img/basketball.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position:fixed;
  left: 0px;
  right: 0px;
  z-index: 1;
  height:104%;
  width: 104%;
  margin-top: -2%;
  margin-left: -2%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#login {
  text-align: center;
  z-index: 999;
  left: 0px;
  right: 0px;
  position: fixed;

  h1 {
    color: $white;
    padding: 5rem 0 2rem;
    font-size: 2.5rem;

    @media(min-width: 400px){
      padding: 5rem 0 3rem;
    }
    @media(min-width: 720px){
      padding: 8rem 0 5rem;
    }
  }
  form {
    margin: 0 auto;
    padding: 10px 20px;
    width: 230px;
    background-color: rgba(48, 48, 48, 0.7);

    input {
      font-size: 1rem;
      margin: 10px 0px;

      &[type="text"], &[type="password"]{
        background-color: rgba(0,0,0,0.5);
        color: $white;
        border: none;
        padding: 10px;
      }
    }
  }
  .error {
    background-color: rgba(48, 48, 48, 0.7);
    margin: 10px auto 0px;
    width: 263px;
    color: #ccc;
    border-left: 5px solid red;

    p{
      padding: 10px 20px 10px 15px;
    }
  }
}

#map {
  width: 100%;
  top: $barHeight;
}

.game {
  color: $white;
  transition: all 0.2s ease;
  &:hover{
    color:$lightColor;
  }
  div{
    background: $blue;
    margin: 15px 0px 0px 0px;
    border-radius: 2px;
    transition: all 0.2s ease;
    &:hover{
      background: $darkBlue;
    }
    h2 {
      margin: 0px;
      padding: 10px 15px 5px;
    }
    h3 {
      font-size: 0.875rem;
      margin: 0px;
      padding: 0px 15px 10px;
      font-weight: 300;

    }
  }
}

.numGames {
  padding-top: 5px;
  padding-bottom: 7px;
}

#content {
  margin-bottom: $barHeight + 24px;
}

#chat-wrap {
  height: 300px;
  background-color: $white;
  border: 1px solid #979797;
  overflow-y: scroll;

  p {
    padding: 15px 0;
    margin: 0 10px;
    border-bottom: 1px solid $lightColor;

    span {
      background-color: $darkColor;
      border-radius: 3px;
      color: $white;
      margin-right: 10px;
      padding: 5px 10px;
    }
  }
}
#send-message-area{
  padding-right: 90px;
  #sendie {
    height: 36px;
    margin-top: 15px;
    width: 100%;
  }
  input {
    float: right;
    margin-top: 15px;
    font-size: 1rem;
    margin-right: -90px;
  }
}
