@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

body {
  min-height: 100%;
  background: #eee; }

header {
  background-color: #fff;
  height: 48px;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #ccc; }
  header h1 {
    color: #333;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 48px; }
    @media (min-width: 720px) {
      header h1 {
        font-size: 1.5rem; } }
  header #menu {
    display: none;
    background-color: #fff;
    position: fixed;
    text-align: right;
    top: 49px;
    right: 0px;
    line-height: 2rem;
    padding: 10px 5% 20px; }
    @media (min-width: 720px) {
      header #menu {
        margin-right: 5%; } }
    header #menu ul {
      display: inline-block;
      float: right;
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      header #menu ul li a {
        color: #333; }
        header #menu ul li a:hover {
          color: #777; }
  header #hamburger {
    float: right;
    margin-top: 14px; }

footer {
  position: fixed;
  background-color: #333;
  height: 48px;
  bottom: 0px;
  z-index: 9;
  width: 100%; }
  footer p {
    line-height: 48px;
    text-align: center;
    color: #ccc;
    font-size: 0.875rem; }

h1 {
  margin: 0; }

h2 {
  font-size: 1.25rem;
  margin: 0.75rem 0; }

a {
  color: #08c;
  text-decoration: none;
  margin: 0; }
  a:hover {
    color: #004f76; }

p {
  margin: 0; }

input[type="submit"] {
  background-color: #08c;
  border: none;
  border-radius: 1px;
  padding: 8px 15px;
  color: #fff;
  transition: all 0.2s ease; }
  input[type="submit"]:hover {
    background-color: #004f76;
    color: #ccc; }

.wrap {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 720px) {
    .wrap {
      width: 80%; } }

#background {
  background-image: url("/PickupGame/img/basketball.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 1;
  height: 104%;
  width: 104%;
  margin-top: -2%;
  margin-left: -2%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

#login {
  text-align: center;
  z-index: 999;
  left: 0px;
  right: 0px;
  position: fixed; }
  #login h1 {
    color: #fff;
    padding: 5rem 0 2rem;
    font-size: 2.5rem; }
    @media (min-width: 400px) {
      #login h1 {
        padding: 5rem 0 3rem; } }
    @media (min-width: 720px) {
      #login h1 {
        padding: 8rem 0 5rem; } }
  #login form {
    margin: 0 auto;
    padding: 10px 20px;
    width: 230px;
    background-color: rgba(48, 48, 48, 0.7); }
    #login form input {
      font-size: 1rem;
      margin: 10px 0px; }
      #login form input[type="text"], #login form input[type="password"] {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        padding: 10px; }
  #login .error {
    background-color: rgba(48, 48, 48, 0.7);
    margin: 10px auto 0px;
    width: 263px;
    color: #ccc;
    border-left: 5px solid red; }
    #login .error p {
      padding: 10px 20px 10px 15px; }

#map {
  width: 100%;
  top: 48px; }

.game {
  color: #fff;
  transition: all 0.2s ease; }
  .game:hover {
    color: #ccc; }
  .game div {
    background: #08c;
    margin: 15px 0px;
    border-radius: 2px;
    transition: all 0.2s ease; }
    .game div:hover {
      background: #004f76; }
    .game div h2 {
      margin: 0px;
      padding: 10px 15px 5px; }
    .game div h3 {
      font-size: 0.875rem;
      margin: 0px;
      padding: 0px 15px 10px;
      font-weight: 300; }

#content {
  margin-bottom: 72px; }

#chat-wrap {
  height: 300px;
  background-color: #fff;
  border: 1px solid #979797;
  overflow-y: scroll; }
  #chat-wrap p {
    padding: 15px 0;
    margin: 0 10px;
    border-bottom: 1px solid #ccc; }
    #chat-wrap p span {
      background-color: #333;
      border-radius: 3px;
      color: #fff;
      margin-right: 10px;
      padding: 5px 10px; }

#send-message-area {
  padding-right: 90px; }
  #send-message-area #sendie {
    height: 36px;
    margin-top: 15px;
    width: 100%; }
  #send-message-area input {
    float: right;
    margin-top: 15px;
    font-size: 1rem;
    margin-right: -90px; }

/*# sourceMappingURL=style.css.map */
